# .gitignore

# Python
__pycache__/

*.sqlite3

# Virtual environment
myenv/
myenv/
myENV/
.myenv/

# Django
/staticfiles/
media/
db.sqlite3

# Environment variables
.env

# IDE / OS
.vscode/
.idea/
*.log
*.DS_Store
