# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
venv/
env/
myenv/
.myenv/

# ==========================
# Django
# ==========================
db.sqlite3
*.sqlite3
/staticfiles/
/media/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
*.log
gunicorn.sock
gunicorn.pid

# ==========================
# IDE / Editors
# ==========================
.vscode/
.idea/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db
