{% include 'admin/adminheader.html' %}

<div class="container mt-4">
  <div class="card shadow-sm">
    <div class="card-header text-white">
      <h4 class="mb-0">ChangePassword</h4>
    </div>
    <div class="card-body">
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <!-- Name -->
        <div class="mb-3">
          <label for="name" class="form-label">CurrentPassword</label>
          <input type="text" name="cpass" id="name" class="form-control" placeholder="Enter CurrentPassword" required>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="name" class="form-label">NewPassword</label>
          <input type="text" name="npass" id="name" class="form-control" placeholder="Enter CurrentPassword" required>
        </div>

        <!-- Description -->
        <div class="mb-3">
          <label for="name" class="form-label">ConfirmPassword</label>
          <input type="text" name="confirmpass" id="name" class="form-control" placeholder="Enter CurrentPassword" required>
        </div>

        

        <!-- Submit Button -->
        <div class="text-center">
          <input type="submit" name="submit" class="btn btn-success px-4" value="Save">
        </div>
      </form>
    </div>
  </div>
</div>

{% include 'admin/adminfooter.html' %}
